---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

type HeaderLinkProps = Props & {
	matchPaths?: string[];
};

const { href, class: className, matchPaths = [], ...props } = Astro.props as HeaderLinkProps;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const currentTopLevelPath = subpath?.[0] || '';
const isActive =
	href === pathname ||
	href === '/' + currentTopLevelPath ||
	matchPaths.includes(currentTopLevelPath);
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
	}
	a.active {
		font-weight: bolder;
		text-decoration: underline;
	}
</style>
